<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bookers</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><%= link_to ' Home', user_path(current_user.id), class: "glyphicon glyphicon-user users" %></li>
      <li><a class="glyphicon glyphicon-home home" href="/users"> User</a></li>
      <li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>
      <li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
      <% else %>
      <li><a class="glyphicon glyphicon-home home" href="/"> Home</a></li>
      <li><a class="glyphicon glyphicon-link about" href="/about"> About</a></li>
      <li><a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up"> Sign up</a></li>
      <li><a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> Login</a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
  </head>

<body>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
</body>
<%= yield %>
</html>
</body>
</html>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>